Osiris.Exception.Reporter/Web References/TFSExeptionService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddNewException">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teamProject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reporter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exceptionMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exceptionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exceptionTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stackTrace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="theClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="theMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="theSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="changeSet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewExceptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddNewApplicationException">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exceptionEntity" type="tns:ExceptionEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExceptionEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reporter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StackTrace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TheClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TheMethod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TheSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangeSet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddNewApplicationExceptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetExceptions">
        <s:complexType />
      </s:element>
      <s:element name="GetExceptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExceptionsResult" type="tns:ArrayOfExceptionEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfExceptionEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExceptionEntity" nillable="true" type="tns:ExceptionEntity" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNewExceptionSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewException" />
  </wsdl:message>
  <wsdl:message name="AddNewExceptionSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewApplicationExceptionSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewApplicationException" />
  </wsdl:message>
  <wsdl:message name="AddNewApplicationExceptionSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewApplicationExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetExceptionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetExceptions" />
  </wsdl:message>
  <wsdl:message name="GetExceptionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetExceptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="AddNewException">
      <wsdl:input message="tns:AddNewExceptionSoapIn" />
      <wsdl:output message="tns:AddNewExceptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewApplicationException">
      <wsdl:input message="tns:AddNewApplicationExceptionSoapIn" />
      <wsdl:output message="tns:AddNewApplicationExceptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExceptions">
      <wsdl:input message="tns:GetExceptionsSoapIn" />
      <wsdl:output message="tns:GetExceptionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewException">
      <soap:operation soapAction="http://tempuri.org/AddNewException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewApplicationException">
      <soap:operation soapAction="http://tempuri.org/AddNewApplicationException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExceptions">
      <soap:operation soapAction="http://tempuri.org/GetExceptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewException">
      <soap12:operation soapAction="http://tempuri.org/AddNewException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewApplicationException">
      <soap12:operation soapAction="http://tempuri.org/AddNewApplicationException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExceptions">
      <soap12:operation soapAction="http://tempuri.org/GetExceptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:2119/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:2119/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>