QueueTool/Service References/ExceptionQueueReader/ExceptionQueueReader2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vm-osiris-tfs2010:801/ExceptionQueueReader/ExceptionQueueReader.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Osiris.Exception.Service.Common" />
  <xs:element name="GetException">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Osiris.Exception.Service.Common" minOccurs="0" name="GetExceptionResult" nillable="true" type="q1:ExceptionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>